body {
  background: white;
  font: 12px/18px "Heveltica", Verdana, sans-serif;
  color:black;
}

h1 {
  font-size: 2em;
  margin-bottom: 12px;
  padding: 24px 0;
  color: black;
}
 
h2 {
  font-size: 1.25em;
  color: black;
  padding: 2.5% 0;
}
 
#page {    
  margin:auto;
  background: #fff;    
  text-align: left; 
  flex: 1;   
}    

/* ------------- HEADER --------------- */

header {
  background: black;
  height: auto;
}

#logo>h1 {
  font-family: Papyrus;
  color: #99CC33;
  font-size: 3.5em;
  /*margin-bottom: 0;*/
  margin: 0em;
  padding: 1em;
  clear: both;
}

#drapeau input {   
    margin:0px;
    margin-bottom:6px;
    width: 30px;
    height:20px;  
    border: 1px solid black;
    font-size: 0;
    float: right;
  }

#fr {
    background-image:url("../image/drapeaux/flag_fr.png");
    background-size: 30px 20px;
    color:white;
  }
#en {
    background-image:url("../image/drapeaux/flag_en.png");
    background-size: 30px 20px;
    color:white;
  }
#pl {
    background-image:url("../image/drapeaux/flag_pl.png");
    background-size: 30px 20px;
    color:white;
  }

/* ------------- MENU --------------- */

#barre_nav, #barre_nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#barre_nav li {
  float: left;
  width: 15%;
  text-align: center;
}

#barre_nav li a {
  display: block;
  color: #fff;
  background: #222;
  border-bottom: 1px;
  text-decoration: none;
  line-height: 200%;
  padding: 0 2em;
}

#barre_nav li a:hover {
  background: #444;
}


/*sous menu*/
#barre_nav ul#categorie_nav {
  position: absolute;
  width: 100%;
  left: 250px;
  padding: 0px;
  display:none;
}

#barre_nav li:hover ul#categorie_nav { 
  display: block;
  top: 2.3em;
}

#barre_nav ul#categorie_nav li {
  border: 1px solid black;
}

#barre_nav ul#categorie_nav li a {
  display: block;
  padding: 10px 0.8em 0.8em 10px;
  padding-top: .8em;
  border: 0;
  background-color: #fff;
  color: #000;
  font: normal normal 1em/110% Verdana, Arial, sans-serif;
}

#barre_nav ul#categorie_nav li:hover a {
  background-color: white;
  font-weight: bold;
}

#colubride_nav>li, #python_nav>li {
  display: none;
}

/* ------------- SECTION ------------- */

#iguana {
  max-width: 100%;
  height: auto;
  /* reponsive image */
}

.circle {
  max-width: 100%; 
  margin: auto;
}

#img_circle, #img_circle1, #img_circle2
{
  float: left;
  min-width: 25%;
  /* largeur ???? */
  height: 22em;
  border: 0px solid white;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  margin: 3em;
}

#img_circle {
    background: url("../image/circle/heterod.jpg") no-repeat;
  }

#img_circle1 {
    background: url("../image/circle/serpent.jpg") no-repeat;
  }

#img_circle2 {
    background: url("../image/circle/lezard.jpg") no-repeat;
  }



/* ------------ FOOTER ----------- */

footer {
  background-color: black;
  color: white;
  clear: both;
  /* pour que footer reste sur place */
  font-size: .3em;
  height: auto;
  min-height: 10em;
}

footer a {
  color:white;
  text-decoration:none;
}

#petit_logo {
  font-family: Papyrus;
  color: #99CC33;
  font-size: 5em;
  line-height: 200%;
}

#legal{
  float: right;
}

/*#copyright{
  float: left;
 }*/


/* ------------ COLLECTION ---------- */
#column_1, #column_2 {
  display: table-cell;
  padding: 150px;
}

.column{
  width: 80%;
  margin:auto;
}

.column h1{
  margin-top: px;
}
/*float*/

/* ------------ DISPONIBILITE ---------- */
.petite_photo{
  width: 200px;
  height: 200px;
}
#miniatures, article>h1{
  text-align: center;
}
#grande{
  margin-top: 50px;
  text-align: center;
}
.grande_photo{
  width: 900px;
  height: 600px;
}

#prix{
  font-size: 20px;    
}
/* ? taille de police */

/* ------------ PROJET ---------- */



