/* CSS spécifique aux smartphones */

#page {
  max-width:640px;
  width:100%;
  min-width:240px;
}
header, footer {
  height: auto;
  /*pour responsive menu */
  /*position:relative;*/
}
header {
  font-size:.6em;
}

nav {
  float: left;
}

#barre_nav>li>a {
  display: block;
}

#barre_nav>li {
  font-size:1.5em;
  width: 100%;
}

#logo>h1{
  font-size: 2em;
}

#img_circle, #img_circle1, #img_circle2
{
  float: none;
  height: 12em;
  width: auto;
}


footer {
  font-size:.8em;
  min-height: 10em;
  /*max-height: 15em;*/
  clear: both;
}

#petit_logo {
  font-size: 2em;
}

#legal{
  float: none;
}
